/* 1. 同じ詳細度では後が優先 */
div {
  background-color: pink;
}
div {
  background-color: green;
}

/* 2. 詳細度が異なる場合 */
/* 3. idを追加*/
#id {
  background-color: skyblue;
}
.class {
  background-color: pink;
}
div {
  background-color: green;
}

/* 4 詳細度が異なる場合(ネスト)*/
div.class {
  background-color: pink;
}

.class {
  /* 5. important */
  background-color: green !important;
}
