* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  width: 90%;
  margin: 20px auto;
}
header::after {
  content:"";
  display:block;
  clear:both;
}
.header-logo {
  float: left;
}
.header-logo img {
  vertical-align: bottom;
}
.header-menu {
  float: right;
  line-height: 55px;
}

.main-visual {
  text-align: center;
  background-image: url("images/main.png");
  border-top: 5px solid red;
  padding: 50px 0;
}
.main-visual-header {
  color: red;
}

.about, .contact , .access {
  padding: 40px 0;
  text-align: center;
  border-top: 2px solid grey;
}
.section-header {
  margin: 10px 0;
  font-size: 48px;
}

.address {
  margin: 10px 0;
}

footer {
  padding: 30px 0;
  background: grey;
  color: white;
  text-align: center;
}

/* Chapter07 */

/* Chapter08 */

/* Chapter09 */
.building-img-wrapper {
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

.badge {
  background: tomato;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  color: white;
}

/* chapter10 */

/* chapter11 */
