.block {
  /* 配布部分 */
  width: 100px;
  height: 100px;
  background: pink;
  margin: 100px;

  /* 1. transform */
  transform: scale(2);
  transform: scaleX(2);
  transform: scaleY(2);
  transform: translate(100px);
  transform: rotate(30deg);
  transform: skewX(45deg);
  transform: scale(2) translateX(100px) rotate(120deg);

  /* 2.transition */
  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  /* https://i.stack.imgur.com/qyvON.png */
  transition-delay: .5s;
}

/* 2. transition */
.block:hover {
  transform: scale(1.5);
  background: red;
}
