body {
  background-color: skyblue;
  text-align: center;
}
h1 {
  font-size: 72px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
h2 {
  font-family: serif;
}
ul {
  list-style: none;
  padding: 0;
}
