/* 1.全称セレクタ */
* {
  color: tomato;
}

/* 2.要素セレクタ */
li {
  color: tomato;
}

/* 3. classセレクタ */
.class {
  color: skyblue;
}

/* 3. idセレクタ */
#id {
  color: green;
}

/* 4. 擬似クラス */
.class:hover {
  color: tomato;
}
.root:first-child {
  color: tomato;
}

/* 5. 複数*/
.class, #id {
  color: tomato;
}

/* 6. 子孫*/
li li {
  color: tomato;
}

/* 7. 子*/
.root > .class {
  color: tomato;
}

/* 8. 隣接*/
.class + li {
  color: tomato;
}