body {
  /* 2.デフォルトのマージンを取り除く */
  margin: 0;
}
.box {
  /* 1.初期表示 */
  background: tomato;
  width: 300px;
  height: 200px;
  border: 10px solid black;
  /* 3. box modelについて */
  padding-left: 20px;
  /* 3. 2ででかくなるので固定 */
  box-sizing: border-box;
  /* 4. ショートハンドの書き方 */
  /* margin-top: 30px; */
  /* margin: 30px; */
  /* margin: 30px 100px; */
  margin: 30px 100px 50px;
}
/* 3. box modelについて */
.inner-box {
  background: skyblue;
  width: 150px;
  height: 100px;
}
/* 5. マージンの相殺 */
.second-box {
  width: 100px;
  height: 100px;
  background: palegreen;
  /* margin-top: 100px; */
  /* 6. センタリングテクニック */
  margin: 0 auto;
}