* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  width: 90%;
  margin: 20px auto;
}
header::after {
  content:"";
  display:block;
  clear:both;
}
.header-logo {
  float: left;
}
.header-logo img {
  vertical-align: bottom;
}
.header-menu {
  float: right;
  line-height: 55px;
}

.main-visual {
  text-align: center;
  background-image: url("images/main.png");
  border-top: 5px solid red;
  padding: 50px 0;
}
.main-visual-header {
  color: red;
}

.about, .contact , .access {
  padding: 40px 0;
  text-align: center;
  border-top: 2px solid grey;
}
.section-header {
  margin: 10px 0;
  font-size: 48px;
}

.address {
  margin: 10px 0;
}

footer {
  padding: 30px 0;
  background: grey;
  color: white;
  text-align: center;
}

/* Chapter07 */
.about-table {
  margin: 0 auto;
  border-collapse: collapse;
}
.about-table, .about-table th, .about-table td {
  border: 1px solid black;
}
.about-table th {
  background: red;
  color: white;
}
.about-table th, .about-table td {
  padding: 5px;
}

/* Chapter08 */
.input-name {
  width: 300px;
}
.comments-area {
  width: 300px;
  height: 100px;
}

/* Chapter09 */
.building-img-wrapper {
  position: relative;
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

.badge {
  background: tomato;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  color: white;
  position: absolute;
  top: -25px;
  right: -25px;

  transition: transform .3s ease-out;
}

.building-img:hover + .badge {
  transform: scale(1.5);
}

/* chapter10 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu::after {
  content:"";
  display:block;
  clear:both;
}
.menu-item {
  float: left;
  padding: 0 20px;
  border-right: 1px dotted black;
  /* 11 */
  cursor: pointer;
  transition: all .3s;
}
.menu-item:first-child {
  border-left: 1px dotted black;
}

/* chapter11 */
.menu-item:hover {
  background: #000;
  color: #fff;
}
