* {
  /* 5. */
  box-sizing: border-box;
}
body {
  /* 1. デフォルトのスタイルを削除 */
  margin: 0;
}
.header {
  /* 1. 準備 */
  background: tomato;
}
.left-column {
  /* 1. 準備 */
  background: skyblue;

  /* 2. */
  float: left;

  /* 4. */
  width: 20%;
  height: 200px;

  /* 5. */
  border-right: 1px solid black;
}
.main-contents {
  /* 1. 準備 */
  background: green;

  /* 2. */
  float: left;

  /* 4. */
  width: 80%;
  height: 200px;
}
.footer {
  /* 1. 準備 */
  background: slategrey;

  /* 3.clear*/
  clear: both;
}

/* 6. clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}