.parent {
  /* 配布部分 */
  margin: 50px;  

  /* 1. position */
  position: relative;

  /* 3. relativeを消してみる */
}
.first-child {
  /* 配布部分 */
  width: 100px;
  height: 100px;
  background: tomato;

  /* 1. position */
  position: absolute;

  /* 2. z-index */
  z-index: 2;

}
.second-child {
  /* 配布部分 */
  width: 100px;
  height: 100px;
  background: skyblue;

  /* 1. position */
  position: absolute;
  top: 20px;
  left: 20px;

  /* 2. z-index */
  z-index: 1;

}
